* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

:root {
  --blueIcon: #4285f6;
  --blueMessage: #505af5;
  --greyIcon: #75787d;
  --greyInput: #1e1e1e;
  --greyMessage: #303030;
  --black: #141414;
  --white: #eeeeee;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  background-color: var(--greyInput);
  border: none;
  outline: none;
}